body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;

  font-family: Arial, sans-serif;
  background-image: url('file:///C:/Users/Lenovo/Desktop/bank.png'); /* Replace 'background.jpg' with your image file name */
  background-size: cover; /* Adjusts the image size to cover the entire page */
  background-repeat: no-repeat; /* Prevents image repetition */
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
  margin: 0;
  padding: 0;
}


header {
  background-color: rgb(40, 112, 102);
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 10px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: rgb(137, 231, 223);
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  color: rgb(40, 112, 102);
}

form {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

label {
  font-weight: bold;
}

input[type="number"],
input[type="text"],
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: rgb(40, 112, 102);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

button:hover {
  background-color: rgb(39, 178, 166);
}

#transaction-log {
  border: 1px solid rgb(255, 255, 255);
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}
